.venda{
    min-height: 100%;
    padding: 90px 0;
}

.sidebar{
    float: left;
    width: 30%;
    margin-left: 2%;
}

.content-venda{
    margin-top: 40px;
}

.search1{
    width: 300px;
}

.search1 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.search1 .barra-preco{
    width: 100%;
    height: 20px;
    background: white;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-radius: 20px;
    position: relative;
}

.barra-preco-fill{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 180, 180));
    border-radius: 20px;
}

.pointer-barra{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -3px;
    left: calc(30% - 13px);
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 180, 180));
    border: 1px solid #777;
    cursor: pointer;
}

.valor-pesquisa{
    margin-top: 8px;
}

.valor-pesquisa p{
    color: black;
    font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1){
    float: left;
}

.valor-pesquisa p:nth-of-type(2){
    float: right;
}

.search2{
    margin-top: 40px;
}

.search2 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.form-venda-wraper{
    margin-top: 10px;
}

.form-venda-wraper input[type=checkbox]{
    display: none;
}

.form-venda-wraper label{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}

.form-venda-wraper input[type=checkbox]:checked + label .circle{
    display: block;
}
.circle{
    height: 8px;
    width: 8px;
    display: none;
    border-radius: 4px;
    background: black;
    position: absolute;
    left: 5px;
    top: 5px;
}


.form-venda-wraper span{
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
}

.vitrine-venda{
    float: left;
    width: 70%;
}